
body {
    font-size: 16px;
    font-family: 'Avenir', 'cpavenir', helvetica, sans-serif;
    color: #333;
}

body.storefronts-show #main-wrapper > section p{
	font-size: 16px;
    font-family: 'Avenir', 'cpavenir', helvetica, sans-serif;
    color: #333;
}

.justify{
	text-align: justify !important;
}

#services2 .container{
	padding: 5em 1em;
}
#services2 h2{
	text-transform: uppercase;
	text-align: center;;
}


/* ====ABOUT RIGHT CONTENT BOTTOM==== */
.aboutRightContentBottom {
	/*padding-right:10%;
	padding-left: 10%;*/
	text-align: left;
	padding-top: 25px;
	padding-bottom: 30px;
}
.aboutRightContentBottom h4 {
	margin: 5px 0;
	padding: 0;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 20px;
}
h4.lastChildRCB {
	margin-bottom: 40px;
}
a.scroll-down {
	border: 2px solid #222222;
	color: #222222;
	background: transparent;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 13px;
}


/* ========04. SECTION RESUME========== */



#sectionResume {
	background: #ffffff;
	min-height: 600px;

color: #222222;
}

#sectionResume .container{
	padding: 5em 1em;
}


#sectionResume .separatorlineblack {
    margin-bottom: 30px;
}
#sectionResume h1 {
	font-size: 30px;
}

#sectionResume h5 {
	font-size: 13px;
	text-transform: uppercase;
	text-align: center;
}

#sectionResume h2 {
	font-size: 17px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 600;
	margin-bottom: 30px;
}
.resumeLeft span, .resumeRight span {
	font-size: 30px;
}
.resumeLeft {
	text-align: right;
	border-right: 1px solid #eee;
}
.resumeRight {
	text-align: left;
}
.resumeList {
	-webkit-padding-start: 0px;
	-moz-padding-start:0px;
	padding: 0 10px;
}
.resumeList li{
	list-style: none;
	margin-top: 40px;
	margin-bottom: 60px;
}
.resumeList li h4 {
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.resumeName {
	color: #666;
	font-size: 12px;
	text-transform: lowercase;
}
.resumeList p {
	font-size: 14px;
  	font-weight: 300;
  	color: #787878;
  	font-family: 'Crimson Text', serif;
  	font-style: italic;
}
.resumePeriod {
	background: #222222;
	color: #fff;
	padding: 2px 4px;
	font-size: 12px;
	font-style: italic;
}

.resumeStats {
  	margin-top: 25px;
  	text-align: center;
}
.resumeStats span {
	font-size: 30px;
}
.resumeStats .col-md-2 {
  	padding: 50px;
  	border-left: 1px solid #eee;
  	border-top: 1px solid #eee;
}

.statsIconPerc {
  	font-size: 50px;
  	font-weight: 500;
  	letter-spacing: 1px;
}
.statsName {
  	text-transform: uppercase;
  	font-size: 14px;
  	font-weight: 600;
  	letter-spacing: 1px;
}



body.storefronts-show #main-wrapper > section h2{
	text-align: center;
	text-transform: uppercase;
}




/* ====GENERAL FORM STYLES==== */

#sectionContact{
	padding: 80px 0px 100px 0px;
	background: #000;
}
#sectionContact .sectionTitle h1{
	color:#fff;
}
#sectionContact .sectionTitle p{
	color:#e5e5e5;
	font-weight: 300;
}
#sectionContact .sectionTitle p span{
	color:#ea1e31;
}
#sectionContact .col-md-4, #sectionContact .col-md-8, #sectionContact .col-md-12{
	padding-left: 0px;
}
#sectionContact .sectionTitle{
	padding: 0px 0px 40px 0px;
}
input, textarea, select {
	background:#171717 !important;
	vertical-align: top;
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	margin: 0;
	padding: 15px;
	width: 100%;
	height: 100%;
	border: 0;
	border-bottom:0;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    color:#fff;
    font-family: "Muli", sans-serif;
}

textarea{
	min-height: 150px;
}

input:focus, textarea:focus, select:focus {
	outline: none;
	position: relative;
	z-index: 5;
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
}

input.submit {
	width: auto;
	cursor: pointer;
	position: relative;
    color: #fff;
    border:none;
    margin: 20px 0;
    transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	text-decoration: none;
	font-family: "Muli", sans-serif;
	font-size: 14px;
	letter-spacing: 0.04em;
	font-weight: 400;
	padding: 8px 20px;
	border-radius: 5px;
	background-color:#ea1e31 !important;
}
input.submit:hover{
	background:#96030a;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #fff;
}
input:-moz-placeholder, textarea:-moz-placeholder {
  color: #fff;
}

.more-info{
	padding: 12px 0px 0px 20px !important;

}
.more-info ul{
	padding-left: 0px;
	list-style: none;
	padding-right: 35px;
	margin-top: 15px;
}
.more-info h5{
	font-family: "Montserrat", sans-serif;
	color:#fff;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 1px;
}

.more-info{
	padding: 12px 0px 0px 20px !important;

}
.more-info ul{
	padding-left: 0px;
	list-style: none;
	padding-right: 35px;
	margin-top: 15px;
}
.more-info ul li{
	color:#888;
	font-size: 14px;
	letter-spacing: 0.04em;
	font-family: "Muli", sans-serif;
	line-height: 24px;
	border-bottom: 1px solid #333;
	margin-bottom: 12px;
}
#contactform input[type="submit"][disabled] { background:#777; cursor: default; }
#contactform div {margin: 10px 0;}
.contactForm fieldset { padding:0;border:0; }
.contactForm label {
	font-size: 12px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
}
/* ====MESSAGE FOR SUCCES==== */